<div ng-cloak id="mainDashboard">
    <md-content class="md-padding" layout-xs="column" layout-gt-xs="row">
        <div flex-xs flex-gt-xs="50" layout-gt-xs="row" layout="column">
            <a ui-sref="home.api-list">
              <md-card>
                  <md-card-content>
                    <div class="group-content">
                        <i class="material-icons group-icon">add</i>
                    </div>
                    <h3>Add</h3>
                    <div class="group-meta">New group</div>
                  </md-card-content>
              </md-card>
            </a>
            <a ui-sref="home.api-list({groupID: 1})" ng-repeat="group in vm.groupList">
              <md-card>
                  <img height="300" width="300" ng-src="assets/images/{{group.image}}" class="md-card-image" alt="Group Image">
                  <md-card-content>
                    <div class="group-content">
                        <i class="material-icons group-icon">{{group.icon}}</i>
                    </div>
                    <h3 ng-class="{red: !group.allClear}">{{ group.name }}</h3>
                    <div class="group-meta" ng-class="{red: !group.allClear}">Last Executed: {{ group.last_exec_time }}</div>
                  </md-card-content>
              </md-card>
            </a>
        </div>
    </md-content>
</div>