<!-- TODO: Add validations -->
<md-content class="md-padding">
    <h3>Add Monitor</h3>
    <p>You can monitor your API in see-Hawk. Monitoring lets you to run requests periodically to check for its performance and
        response.
    </p>
    <div>
        <form name="addApiForm">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Monitor Name</label>
                    <input ng-model="vm.addApi.monitorName">
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Group Name</label>
                    <input ng-model="vm.addApi.groupName">
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Schedule</label>
                    <md-select ng-model="vm.addApi.scheduleType">
                        <md-option ng-repeat="schedule in vm.addApi.schedule" value="{{schedule}}" onselect="vm.minuteTypeSelcted(schedule)">
                            {{schedule}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm >
                    <md-select ng-model="vm.addApi.minuteType">
                        <md-option ng-repeat="minute in vm.addApi.minute" value="{{minute}}" ng-selected="vm.minuteTypeSelcted(minute)">
                            {{minute}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container class="md-block">
                    <label>Recieve email notification for failures and errors</label>
                    <input required type="email" name="clientEmail" ng-model="vm.addApi.clientEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
                    />
                    <div ng-messages="projectForm.clientEmail.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
            </div>
        </form>
    </div>
</md-content>
<md-content class="md-padding">
    <h3>API Details</h3>
    <form name="apiform">
        <div layout layout-sm="column">
            <md-input-container class="md-block" flex-gt-sm>
                <md-select ng-model="vm.addApi.requestType">
                    <md-option ng-repeat="req in vm.addApi.request" value="{{req}}" onselect="vm.reqestTypeSelcted(req)">
                        {{req}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>API Url</label>
                <input ng-model="vm.addApi.url">
            </md-input-container>
        </div>
    </form>
</md-content>
<md-content class="md-padding">
    <h3>Headers</h3>
    <form name="apiform">
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Key</label>
            </md-input-container>
            <md-input-container flex>
                <label>Value</label>
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <input value="Content-type">
            </md-input-container>
            <md-input-container flex>
                <input value="application/json">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <input value="Authorization">
            </md-input-container>
            <md-input-container flex>
                <input value="Authorization">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <input value="">
            </md-input-container>
            <md-input-container flex>
                <input value="">
            </md-input-container>
        </div>
    </form>
</md-content>
<md-content class="md-padding">
    <h3>Body</h3>
    <form name="apiform">
        <div layout layout-sm="column">
            <md-input-container flex>
                <textarea ng-value="" aria-multiline="true"/>
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
            </md-input-container>
            <md-input-container flex style="text-align:right">
                <md-button class="md-raised">CANCEL</md-button>
                
                <md-button class="md-raised" ng-click="vm.saveAPIValue()">ADD</md-button>
            </md-input-container>
        </div>
    </form>
</md-content>